/* stylelint-disable selector-class-pattern, selector-no-type */

/**
 * Css grid variables
 */

/* stylelint-disable number-max-precision */

.example-1 {
  max-width: 600px;
  margin-left: 20px;
  margin-left: 1.25rem;
  -webkit-column-count: 2;
     -moz-column-count: 2;
          column-count: 2;
  -webkit-column-gap: 1.25rem;
     -moz-column-gap: 1.25rem;
          column-gap: 1.25rem;
  text-align: justify;
}

.example-1 p {
  margin: 1.111em 0 0 0;
}

.example-1 p:first-child {
  margin: 0;
}

.example-2 {
  overflow: hidden;
  width: 400px;
  margin: 1.111em auto;
  padding-bottom: 1.111em;
  padding-left: 20px;
  padding-left: 1.25rem;
  background: #808080;
}

.example-2 div {
  box-sizing: border-box;
  padding: 1.111em 20px 0 0;
  padding: 1.111em 1.25rem 0 0;
}

.example-2 .box2,
.example-2 .box3 {
  float: left;
  width: 50%;
}

.example-2 > div > div {
  min-height: 100px;
}
